@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="/css/screen.css">
    <script src="/js/typing.js"></script>
</head>
<body>
<h3 class="typing-text" data-typing>Związek radziecki</h3>
<p class="typing-text" data-typing>Rok 1986</p>
<p class="typing-text" data-typing>Węsze zyskała świadomośc</p>
<p class="typing-text" data-typing>Próby powstrzymania węszów przez naukowców zakończyły się niepowodzeniem,
    Węszę stają się coraz inteligenetniejsze.</p>
<h3 class="typing-text" data-typing>Związek radziecki</h3>
<p class="typing-text" data-typing>Rok 1987</p>
<p class="typing-text" data-typing>Węsze uciekły z ośrodków badawczych</p>
<p class="typing-text" data-typing>Weszę przeprowadzają rewolucje domagająć się objęcia władzy w ZSRR, Sekretarz generaralny ZSRR wysyła wojsko do walki z węszami,
    wojsko zostaje szybko pokonane przez siły węszowe, a niedługo po tym obalają partie komunistyczną i przejmują władzę w pańswie, początkowo węszę dobrze zarządzają państwem...</p>
<a href="intro2">KONTYNUUJ</a>
</body>
</html>