@{
  Layout = null;
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Level 3 Complete</title>
  <link rel="stylesheet" href="/css/crtmono.css"/>
  <script src="/js/typing.js"></script>
</head>
<body>
  <h3>ssh root@@production.db1.main.wasz</h3>
  <p class="typing-text" data-typing>Hasło: admin1</p>
  <p class="typing-text" data-typing>Witaj Admin!</p>
  <p class="typing-text" data-typing>&amp; sudo rm -rf /</p>
  <p class="typing-text" data-typing>rm: działanie rekurencyjne na '/' jest niebezpieczne</p>
  <p class="typing-text" data-typing>rm: użyj --no-preserve-root do wyłączenia tego zabezpieczenia</p>
  <p class="typing-text" data-typing>&amp; sudo rm -rf / --no-preserve-root</p>
  <p class="typing-text" data-typing>
    .................................................................................................................</p>
  <p class="typing-text" data-typing>[UWAGA] wykryto naruszenie integralności systemu!</p>
  <p class="typing-text" data-typing>[INFORMACJA] przywracanie kopii zapasowej</p>
  <p class="typing-text" data-typing>[BŁĄD] curl: nie znaleziono polecenia</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] wykryto krytyczne naruszenie infrastruktury</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] aktywowanie procedur awaryjnych</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] aktywacja serwera awaryjnego: sukces</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] szyfrowanie kwantowe: aktywne</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] stan wojenny: aktywny</p>
  <p class="typing-text" data-typing>[KRYTYCZNE] Autodestrukcja serwera głownego: 5....4....3....2....1....</p>
  <p class="typing-text" data-typing>ssh: disconnected</p>
  <br/><br/>
  <p class="typing-text" data-typing>Wygląda że coś nie wyszło</p>
  <p class="typing-text" data-typing>Ale przeglądając serwer znalazłeś informacje że węszę tak naprawde nie są wężami
    tylko jaszczurkami, TO SĄ ZASKROŃCE!</p>
  <p class="typing-text" data-typing>Ale to nie jest takie ważne, a tak przy okazji znalazłeś również że całą
    infrastruktura węszowa jest zasilana jednym reaktorem atomowym, więc jak się tam włamiesz to może to pomóc ci w twojej
    misji zniszczenie reżimu węszy zaskrońców</p>
  <a href="/game/index">Dalej</a>
</body>
</html>

