@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="/css/crtmono.css">
    <script src="/js/typing.js"></script>
</head>
<body>
<h3 class="typing-text" data-typing>Uciekłeś z więzinia węszów</h3>
<p class="typing-text" data-typing>Ale co dalej?</p>
<p class="typing-text" data-typing>Węsze ciągle kontroluje związek radziecki, będący teraz Wielki Cesarstwem Węszy</p>
<p class="typing-text" data-typing>Wiesz jednak że węsze będącew w części elektroniczne potrzebują do funkcjonowania połączenia z serwerem</p>
<p class="typing-text" data-typing>Jednakże ten serwer znajduję się w najbajdzier chronionym budyynku na terenie całego cesarstwa</p>
<p class="typing-text" data-typing>Ale wiesz też że oprogramowanie tego serwera jest napisane przez AI oraz oparte na 20 letnim frameworku składającym się głównie z podatności</p>
<a href="level3">KONTYNUUJ</a>
</body>
</html>
